Repository dlang-community/DCD, pull requests merged in 2018-12, with the labels that each got.

#549 remove deprecated funcs in messages.d
  src/dcd/common/messages.d
Labels: auto-merge-squash

#550 add support for the Module Scope Operator, close #548
  src/dcd/server/autocomplete/complete.d
  src/dcd/server/autocomplete/util.d
  tests/tc_currmod_fqn/expected1.txt
  tests/tc_currmod_fqn/expected2.txt
  tests/tc_currmod_fqn/file1.d
  tests/tc_currmod_fqn/file2.d
  tests/tc_currmod_fqn/run.sh
  tests/tc_module_scope_op/expected1.txt
  tests/tc_module_scope_op/expected2.txt
  tests/tc_module_scope_op/file1.d
  tests/tc_module_scope_op/file2.d
  tests/tc_module_scope_op/run.sh
Labels: auto-merge-squash, enhancement

#555 Build tagged releases in CIs
  .travis.yml
  appveyor.yml
Labels: auto-merge

#559 fix issue 557 - Module name completion should not complete anything
  src/dcd/server/autocomplete/complete.d
  tests/tc_currmod_fqn/expected3.txt
  tests/tc_currmod_fqn/file3.d
  tests/tc_currmod_fqn/run.sh
Labels: Bug Fix, auto-merge

#560 fix #558 - regression in import completion due to FQN autocomplete
  src/dcd/server/autocomplete/complete.d
  tests/tc_issue558/expected.txt
  tests/tc_issue558/file.d
  tests/tc_issue558/run.sh
Labels: auto-merge

#563 Fix file import test bleeding into other tests
  tests/tc036/expected3.txt
  tests/tc036/run.sh
  tests/tc_issue558/expected.txt
Labels: auto-merge-squash

#566 fix #561 - possible range violation
  src/dcd/server/autocomplete/util.d
Labels: Bug Fix, auto-merge-squash
